@using Microsoft.AspNetCore.Identity
@model SimpleBlog.ViewModels.PostCommentViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<div>
    <div class="border-bottom border-white bg-dark p-3">
        <h1 class="text-white text-center">@Html.DisplayFor(model => model.Post.Title)</h1>
        <h4 class="text-white-50 font-weight-normal text-center">
            @Html.DisplayFor(model => model.Post.Creator.Email)
        </h4>
        <h4 class="pb-5 text-white-50 font-weight-normal text-center">
            @Html.DisplayFor(model => model.Post.CreatedTime)
        </h4>
        <h5 class="text-white text-center font-weight-normal pb-5" style="white-space: pre-line">
            @Html.DisplayFor(model => model.Post.Text)
        </h5>
    </div>

    <div class="container pt-5 bg-dark">
        <div class="row justify-content-center w-100">
            <div class="col-md-4 ">
                <form asp-action="CreateComment" asp-controller="Posts">
                    <div class="form-group">
                        <label asp-for="Post.ID" class="control-label d-none"></label>
                        <input asp-for="Post.ID" class="form-control d-none">
                        <span asp-validation-for="Post.ID" class="text-danger d-none"></span>
                    </div>
                    <div class="form-group text-center">
                        @*<label asp-for="Comment.Text" class="control-label text-white"></label>*@
                        <textarea asp-for="Comment.Text" class="form-control" style="min-height: 8rem" placeholder="Leave a comment..."> </textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Create a comment" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="pt-2 d-flex flex-column align-items-center bg-dark">
        @foreach (var item in Model.Post.Comments)
        {
            @if ((SignInManager.IsSignedIn(User)))
            {
                if (item.Creator.Email.ToString() == User.Identity.Name.ToString() || Model.Post.Creator.Email.ToString() == User.Identity.Name.ToString())
                {
                    <div class="w-50 pb-3 border border-white bg-dark">

                        <h5 class="text-white px-2 d-inline text-center"><u>@item.Creator.Email</u></h5>
                        <p class="text-white-50 d-inline">@item.CreatedTime.ToShortDateString()  |  @item.CreatedTime.ToShortTimeString()</p>

                        <div class="pt-3 bg-dark rounded">
                            <a type="submit" class="p-3 float-right text-danger" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.ID">
                                <i class="far fa-trash-alt fa-2x text-center"></i>
                            </a>
                        </div>
                        <h6 class="text-white px-3 text-left">@item.Text </h6>
                    </div>

                }
                else
                {
                    <div class="pb-3 w-50 border border-white bg-dark">
                        <h5 class="text-white px-2 d-inline-block text-center">@item.Creator.Email</h5>
                        <p class="text-white-50 d-inline-block">@item.CreatedTime.ToShortDateString()  |  @item.CreatedTime.ToShortTimeString()</p>
                        <h6 class="text-white px-3 text-left">@item.Text </h6>

                    </div>
                }
            }
            else
            {
                <div class="pb-3 w-50 border border-white bg-dark">
                    <h5 class="text-white px-2 d-inline-block text-center">@item.Creator.Email</h5>
                    <p class="text-white-50 d-inline-block">@item.CreatedTime.ToShortDateString()  |  @item.CreatedTime.ToShortTimeString()</p>
                    <h6 class="text-white px-3 text-left">@item.Text </h6>

                </div>
            }

        }
        <div class="pb-5" />
    </div>

</div>